<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="CarRental" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=CarRental;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <client>
        <endpoint address="net.tcp://localhost:8009/InventoryService"
                  binding="netTcpBinding"
                  contract="CarRental.Client.Contracts.IInventoryService" />
        <endpoint address="net.tcp://localhost:8009/RentalService"
                  binding="netTcpBinding"
                  contract="CarRental.Client.Contracts.IRentalService" />
        <endpoint address="net.tcp://localhost:8009/AccountService"
                  binding="netTcpBinding"
                  contract="CarRental.Client.Contracts.IAccountService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
